
# ClientID for work API access
mapcir_client_id=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# Signature for work API access
mapcir_client_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# MAPCIR API server
mapcir_api_server=https://mainnet.mapcir.io

# MAPCIR API version
mapcir_api_version=v1

# Fetch API request timeout (milliseconds)
mapcir_api_timeout=3000

# Will trigger when fetch API fails
mapcir_api_retry=3

# Local API server host
mapcir_local_host=0.0.0.0

# Local API server port
mapcir_local_port=8080

# Keep alive timeout (seconds)
mapcir_local_keep_alive_timeout=5

# Keep alive max count
mapcir_local_keep_alive_max_count=1000

# TCP nodelay (1: yes, 0: no)
mapcir_local_tcp_nodelay=0

# Read timeout (seconds)
mapcir_local_read_timeout=3

# Write timeout (seconds)
mapcir_local_write_timeout=3

# IDLE interval (milliseconds)
mapcir_local_idle_interval=100

# Directions API (/path1,/path2,...)
mapcir_route_directions=

# Geocoding API (/path1,/path2,...)
mapcir_route_geocode=

# Distance Matrix API (/path1,/path2,...)
mapcir_route_distancematrix=

# Place Details API (/path1,/path2,...)
mapcir_route_placedetails=

# Find Place API (/path1,/path2,...)
mapcir_route_findplacefromtext=

# Text Search API (/path1,/path2,...)
mapcir_route_textsearch=

# Nearby Search API (/path1,/path2,...)
mapcir_route_nearbysearch=

# Place Autocomplete API (/path1,/path2,...)
mapcir_route_autocomplete=

# Query Autocomplete API (/path1,/path2,...)
mapcir_route_queryautocomplete=

